title: openJourno
description: Read. Empower. Defy.
theme: minima
markdown: kramdown

plugins:
  - jekyll-feed
  - jekyll-paginate

paginate: 5
paginate_path: "/page:num/"

collections:
  authors:
    output: true
