<header class="site-header">
  <div class="wrapper">

    <h1 class="site-title">
      <a href="{{ "/" | relative_url }}">openJourno</a>
    </h1>

    <p class="site-tagline">
      Read. Empower. Defy.
    </p>

    <nav class="site-nav">
      <a href="/categories/books/">Books</a>
      <a href="/categories/careers/">Careers</a>
      <a href="/categories/culture/">Culture</a>
      <a href="/categories/education/">Education</a>
      <a href="/categories/events/">Events</a>
      <a href="/categories/health/">Health</a>
      <a href="/categories/lifestyle/">Lifestyle</a>
      <a href="/categories/movies/">Movies</a>
      <a href="/categories/news/">News</a>
      <a href="/categories/opinion/">Opinion</a>
      <a href="/categories/scholarships/">Scholarships</a>
      <a href="/categories/sports/">Sports</a>
      <a href="/categories/technology/">Technology</a>
      <a href="/categories/wealth/">Wealth</a>
    </nav>

  </div>
</header>
