<header class="site-header">
  <div class="wrapper">
    <h1 class="site-title">
      <a href="{{ "/" | relative_url }}">openJourno</a>
    </h1>
    <p class="site-tagline">Read. Empower. Defy.</p>

    <nav class="site-nav">
      <ul>
        {% assign cats = "Books,Careers,Culture,Education,Events,Health,Lifestyle,Movies,News,Opinion,Scholarships,Sports,Technology,Wealth" | split: "," %}
        {% for cat in cats %}
        <li><a href="/categories/{{ cat | downcase }}/">{{ cat }}</a></li>
        {% endfor %}
      </ul>
    </nav>
  </div>
</header>
